.container
  .devise
    %h2 Sign-up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      = render 'devise/commons/email', f: f
      = render 'devise/commons/new-password', f: f
      = render 'devise/commons/password-comfirmation', f: f
      .btn
        = f.submit "Submit", class: "btn_submit"
    = render "devise/shared/links"